@-moz-document regexp("https?://www\\.google\\.be/.*#q=.+"), regexp("https?://www\\.google\\.be/search.+") {
#cnt #center_col {
    width: 1750px !important;
	left:-180px !important;
}

#rso {
    -webkit-column-count: 3 !important;
    -webkit-column-gap:   20px;
    -moz-column-count:    3 !important;
    -moz-column-gap:      10px;
    column-count:         3 !important;
    column-gap:           20px;
}

#rso .rgsep {
    display: none;
}

li.g {
    display: inline-block;
}

.g {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
/*This was in 217 not 2021, it make appears double scrollbar with my script and decal 1 px after footer then page is unscrollable*/
/* #rhs_block, #footcnt {
    display: none !important;
} */

#extrares {
    margin-top: 16px;
    padding-top: 16px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}
}

